<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport">
    <link rel="stylesheet" href="../static/styles.css">

    <title>Serial Data Display</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        var nowspeed = 0;
        socket.on('serial_data', function(msg) {
            document.getElementById('serial-data').innerHTML = msg.data;

            if(msg.data == "L"){draw(nowspeed, 0, 0, 0, {'left':  true, 'right': false}, 0);}
            else if(msg.data == "F"){draw(nowspeed, 0, 0, 0, {'left':  false, 'right': false}, 0);}
            else{nowspeed = msg.data; draw(nowspeed, 0, 0, 0, {'left':  false, 'right': false}, 0);}
        });
    </script>

</head>
<body>
    <h1>Serial Data Display</h1>
    <div id="serial-data"></div>

    <form id="inputForm">
        <label for="inputValue">Input Value:</label>
        <input type="number" id="inputValue" name="inputValue" required>
        <button type="button" onclick="sendInput()">Send</button>
    </form>

    <script type="text/javascript">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        function sendInput() {
            var inputValue = document.getElementById('inputValue').value;

            // Send input value to the server
            socket.emit('input_value', { value: inputValue });
        }
    </script>

<br><br>
<div id="speedometer">
    <div style="display: none;"><img id="sprite" src="../static/images/icons.svg"></div>
    <canvas id="canvas" width="425" height="210"></canvas>
</div>
<script src="../static/fraction.min.js"></script>
<script src="../static/speedometer.js"></script>
<script src="../static/demo.js"></script>
</body>
</html>